<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") -%>
  </head>
  <body>
    <%- include("../partials/header") %>

    <main>
      <section id="category-items">
        <div class="top-level-container">
          <div class="section-title">
            <h1 class="title">CATEGORY</h1>
          </div>
          <div class="items-wrapper">
            <% if(items != null) { for(let item of items) {%>
            <div class="item">
              <div class="item-image">
                <img
                  src="<% if (Object.prototype.hasOwnProperty.call(item, 'pictureURLLarge')) {%><%= item.pictureURLLarge[0] %><%}else if(Object.prototype.hasOwnProperty.call(item, 'galleryURL')){%><%= item.galleryURL[0] %><%}%>"
                  alt="img here"
                />
              </div>
              <div class="item-details">
                <div class="item-title">
                  <span><%= item.title[0].toUpperCase() %></span>
                </div>
                <div class="item-price">
                  <%= item.sellingStatus[0].currentPrice[0].__value__ %> $
                </div>
                <div class="item-actions">
                  <a
                    class="btn green-btn"
                    target="_"
                    href="<%= item.viewItemURL[0] %>"
                    >ORDER ON EBAY</a
                  >
                </div>
              </div>
            </div>
            <%}%>
            <div id="pagination">
              <%if (paginationData.first) {%>
              <a
                href="/catalog/category/<%= categoryId %>?page=<%= paginationData.first %>"
              >
                First
              </a>
              <% } %> <%if (paginationData.previous) {%>
              <a
                href="/catalog/category/<%= categoryId %>?page=<%= paginationData.previous %>"
              >
                &lt;&lt;
              </a>
              <% } %> <% paginationData.range.forEach((page)=>{ %>
              <a
                href="/catalog/category/<%= categoryId %>?page=<%= page %>"
                class="<% if(paginationData.current === page) {%>active<%}%>"
              >
                <%= page %>
              </a>
              <% }) %> <%if (paginationData.next) {%>
              <a
                href="/catalog/category/<%= categoryId %>?page=<%= paginationData.next %>"
              >
                &gt;&gt;
              </a>
              <% } %> <%if (paginationData.last) {%>
              <a
                href="/catalog/category/<%= categoryId %>?page=<%= paginationData.last %>"
              >
                Last
              </a>
              <% } %>
            </div>
            <%} else{%>
            <div id="error-block">
              <h1 class="err-message">Sorry this category is not available</h1>
            </div>
            <%}%>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <%- include("../partials/footer") -%>
    </footer>
  </body>
</html>
