<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") -%>
	</head>
	<body>
			<%- include("../partials/header") %>
			<main>
				<section id="intro">
					<div class="top-level-container">
						<div class="intro-left-side">
							<div class="text">
								<h2>BECAUSE YOU'VE BEEN WORKING TOO</h2>
								<h2>HARD...</h2>					
								<h2>OFFER YOURSELF AN AMAZING GIFT</h2>
							</div>
							<div class="marketing-pitch">
								<ul>
									<li>Fun Stuff</li>
									<li>Free Shipping</li>
									<li>Brand New</li>
									<li>Guilt Free</li>
								</ul>
							</div>
							<div class="intro-btns">
								<a class="btn" href="#best-deal">TEST MY LUCK</a>
								<a class="btn">CATEGORIES</a>
							</div>
						</div>
						<div class="intro-right-side">
							<img 
								class="image"
								src="/img/sleepy-guy.jpg" 
								alt="Photo by Christian Fregnan on unsplash.com"
							>
						</div>
					</div>
				</section>
				<section id="categories">
					<div class="top-level-container">
						<!-- <h3 class=" title">CATEGORIS</h1> -->
						<div id="categories-wrapper">
							<% if(categories != undefined) {%>
								<% for(let {id, name} of categories) {%>
									<div class="category-block">
										<div class="category-name">
											<span class="name"><%= name %></span>
										</div>
									</div>
								<%}%>
							<%} else{%>
								<h1>ERR 404 : Couldn't fetch categories</h1>
							<%}%>
						</div>
						<div>
							<a class="btn black-btn">BROWSE ALL CATEGORIES</a>
						</div>
					</div>
				</section>
				<section id="best-deal">
					<div class="top-level-container">
						<div class="section-title">
							<h1 class="centered title">BEST CURRENT DEAL</h1>
						</div>
						<div class="item">
							<div class="item-body image-container">
								<img 
									class="image"
									src="<%= bestCurrentDeal.pictureURLLarge[0] %>" 
									alt="image title here"
								>
							</div>
							<div class="item-footer price centered">
									<span class="price"><%= bestCurrentDeal.sellingStatus[0].currentPrice[0].__value__ %> $</span>
							</div>
						</div>	
						<div class="spin-section-btns">
							<a class="btn">VIEW DETAILS</a>
						</div>
					</div>
				</section>
			</main>
			<footer>
				<%- include("../partials/footer") -%>
			</footer>

		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>