<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") -%>
	</head>
	<body>
			<%- include("../partials/header") %>
			<main>
				<section id="intro">
					<div class="top-level-container">
						<div class="intro-left-side">
							<div class="text">
								<h3>BECAUSE YOU'VE BEEN WORKING TOO</h3>
								<h3>HARD...</h3>
								<h3>IT'S ABOUT TIME FOR A LITTLE REWARD</h3>					
								<h3>OFFER YOURSELF AN AMAZING GIFT</h3>
							</div>
							<div class="intro-btns">
								<button class="btn">RANDOM GIFT</button>
								<button class="btn">CATEGORIES</button>
							</div>
						</div>
						<div class="intro-right-side">
							<img 
								class="image"
								src="/img/sleepy-guy.jpg" 
								alt="Photo by Christian Fregnan on unsplash.com"
							>
						</div>
					</div>
				</section>
				<section id="categories">
					<div class="top-level-container">
						<div id="categories-wrapper">
							<div class="category-block">
								<img 
									class="image"
									src="/img/category-shoes.jpg" 
									alt="shoes category"
								/>
								<div class="category-name">
									<span class="name">SHOES</span>
								</div>
							</div>
							<div class="category-block">
								<img 
									class="image"
									src="/img/category-clothing.jpg" 
									alt="clothing category"
								/>
								<div class="category-name">
									<span class="name">CLOTHING</span>
								</div>
							</div>
							<div class="category-block">
								<img 
									class="image"
									src="/img/category-tech.jpg" 
									alt="tech category"
								/>
								<div class="category-name">
									<span class="name">TECH</span>
								</div>
							</div>
							<div class="category-block">
								<img 
									class="image"
									src="/img/category-watches.jpg" 
									alt="watches category"
								/>
								<div class="category-name">
									<span class="name">WATCHES</span>
								</div>
							</div>
							<div class="category-block">
								<img 
									class="image"
									src="/img/category-skin-care.jpg" 
									alt="skin care category"
								/>
								<div class="category-name">
									<span class="name">SKIN-CARE</span>
								</div>
							</div>
							<div class="category-block">
								<img 
									class="image"
									src="/img/category-other.jpg" 
									alt="other category"
								/>
								<div class="category-name">
									<span class="name">OTHER</span>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="spin-item">
					<div class="top-level-container">
						<div class="section-title">
							<h2 class="centered title">DON'T LIKE THIS ONE ?</h3>
							<h2 class="centered title">HIT SPIN TO GENERATE ANOTHER GIFT</h3>
						</div>
						<div class="item">
							<div class="item-body image-container">
								<img 
									class="image"
									src="<%= item.imageURL %>" 
									alt="image title here"
								>
							</div>
							<div class="item-footer price centered">
									<span class="price"><%= item.buyItNowPrice.value %> <%= item.buyItNowPrice.currency %> </span>
							</div>
						</div>	
						<div class="spin-section-btns">
							<button class="btn">ADD TO CART</button>
							<button class="btn">SPIN</button>
						</div>
					</div>
				</section>
			</main>
			<footer>
				<%- include("../partials/footer") -%>
			</footer>

		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>